body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 3em !important;
    font-weight: 600 !important;
    background-color: #007aff !important;
}

.container {
    max-width: 767px;
    margin: 300px auto 0;
    border-width:20px 5px 20px 5px !important;
    border-style:solid !important;
    border-color:white !important;
    border-radius: 12px !important;
    background-color: white !important;
}

.container .dropzone {
    border: 2px dashed transparent;
    border-radius: 12px !important;
}

.container .dropzone:hover {
    border: 2px dashed #007aff;
    border-radius: 12px !important;
}


